* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(135deg, #ffcf71 10%, #2376dd 100%);
}
.header {
  background-color: #d9afd9;
  padding: 10px;
  display: flex;
}
.nav-items {
  display: flex;
  list-style: none;
}
.nav-items a{
    text-decoration: none;
    margin-right: 20px;
}
img{
display: block;
margin-left: auto;
margin-right: auto;
height: 400px;
width: 500px;
padding: 20px 0;
}